<div class="container">
    
    {{#if hasContent}}
        {{#each article}}
            <h1>{{this.title}}</h1>
            <img src={{this.image}} alt="" height="800px" width="800px" class="img-fluid" alt="Responsive image">
            <p>{{this.summary}}</p>
            <div class="d-flex flex-row justify-content-between">
                <p>{{this.date}}</p>
                <a href={{this.url}}>Read</a>
            </div>
        {{/each}}
    {{else}}
        <h4>Please try again, this has no result</h4>
    {{/if}}

</div>